# .gitignore
# Stanisław Grams <sgrams@fmdx.pl>
#
# secpass.org
# 2019
# This file is used to ignore files which are generated

# General
*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*._resource
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash

# Vim temporary files
.*.swp

# Binaries
*.so
*.o
secpass-nc
secpass-qt

# Build apart from build scripts
build/*
!build/build.sh
!build/build-nc.sh
!build/build-qt.sh

# Docs apart from doxygen config
docs/*
!docs/secpass.doxy

# SGX Bridge files
*_t.c
*_t.h
*_u.c
*_u.h

# Valgrind dumps
*.vgcore*
